body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu{
    float: left;
     padding-left: 432px; 
}

.menu li{
    float: left;
   line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main{
    width: 100%;
    height: 1067px;
    background:url(../img/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png)90% 100%/auto 85% no-repeat, url(../img/%D1%84%D0%BE%D0%BD.jpg)center/cover no-repeat;
}

.title__conteiner{
    float: left;
   margin:  432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    
}

.title__conteiner h1{
    font-size: 60px;
    font-weight: bold;
}

.title__conteiner h4{
     margin-top: 40px;
    font-size: 22px;
    color: #79818d;
    
}

.title__conteiner input{
    height: 40px;
    text-align: center;
    border:2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color:#6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;   
}

.item-skills{
    text-align: center;
}
.item-skills h3{
    text-align: center;
    color: #263244;
    font-size: 50px;
    font-weight: bold;
    margin: 107px 0px 31px 0px;
    }

.image{
    text-align: center;
    margin: 94px 0px 24px 0px;   
}
    
}
.item-skills p{
   border: 0px solid;
    width:900px; 
    height: 50px;
    color: #80858f;
    margin: 24px 590px 0px 595px;
}
.item-skills input{
    text-align: center;
    height: 33px;
    width: 155px;
    border:2px solid #6d7682;
    background: url(../img/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0.png)left   no-repeat;
    border-radius: 5px;
    color:#6d7682;
    font-size: 13px;
    padding: 0px 20px;
    margin: 20px 14px 0px 886px;   
}
.item h3{
   
    text-align: center;
    font-size: 40px;
    color: #263244;
    font-weight: bold;
    margin: 100px;
    }

.For__me{
    width: 1910px;
    height: 520px;
    background: url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.png)90% 100%/auto no-repeat;
    margin: 98px 0px 0px 0px;
    text-align: center;    
}

.skills{
   float: left ;
   width: 300px;
   color: #222f41;
   margin-bottom: 300px;
   
}
    
.skills h4{
    color: #cf7600;
    font-weight: bold;
}

.skill p{
    color: #3f495a;
    float: left;
}

